			 <div class="col-lg-12">
			<a href="http://www.accuweather.com/en/id/tegal/202820/weather-forecast/202820" class="aw-widget-legal">
			<!--
			By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
			-->
			</a>
			<div id="awcc1471429183098" class="aw-widget-current"  data-locationkey="202820" data-unit="f" data-language="id" data-useip="false" data-uid="awcc1471429183098">
			</div>
			<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			 </div>
                    <div class="col-lg-12">